:root {


    --colorPrincipal: #F75394; /* Color de Header/Footer/Botones */
    --colorSecundario: #f5458b; /* Color de borde del Header */
    --colorTitulos: #D9367A; /* Color de títulos h1, h2, h3 */
    --colorCuerpo: #333; /* Color del texto del body */
    --colorFondoContenedor: rgba(255, 255, 255, 0.85); /* Fondo del .main-content */
    --colorTextoPrincipal: #000000; /* Texto oscuro */
    --sombraPrincipal: #F75394; /* Sombra base */


    --fuenteCuerpo: 'Roboto', sans-serif;
    --fuenteTitulos: 'Pacifico', cursive;
    --fuenteEstructural: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    .tema-oscuro {
        --colorPrincipal: #6A1B9A;
        --colorSecundario: #7c0ec0;
        --colorTitulos: #b24bf1;
        --colorCuerpo: #F0F0F0;
        --colorFondoContenedor: rgba(255, 255, 255, 0.85);
        --colorTextoPrincipal: #000000;
        --sombraPrincipal: #6A1B9A;
    }

}
